default vesamenu.c32
timeout 30
menu title R29 PXE Menu
menu background r29.jpg
menu resolution 640 400
menu width 55
menu margin 0
menu rows {{ install_isos | length * 2 + 4 }}
menu hshift 2
menu vshift 1
